<section class='container'> 
    <div class="card d-flex">
        <div class="card-image">
            <%= image_tag("#{@user.photo}", width:'100%', height:'100%') %>
        </div>
        <div class="card-body">
            <h1 class="card-title"> <%= @user['name'] %> </h1>

            <p class="card-text">Number of posts: <%= @user['posts_counter'] %> </p>
        </div>
    </div>

    <div class='bio-wrapper'>
        <div class='bio-div'>
          <h4> Bio </h4>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure possimus aut, soluta tenetur reiciendis placeat eos sunt totam consequuntur labore quas atque ipsa rem repellendus dolore suscipit! Laudantium, voluptas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure possimus aut, soluta tenetur reiciendis placeat eos sunt totam consequuntur labore quas atque ipsa rem repellendus dolore suscipit! Laudantium, voluptas. </p>
        </div>
    </div>

    <%= link_to user_posts_path(@user['id']) do %>
        <% @posts.each do |post| %>
            <div class='post-wrapper'>
                <div class='post-div'>
                    <h4>Post #1 </h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure possimus aut, soluta tenetur reiciendis placeat eos sunt totam consequuntur labore quas atque ipsa rem repellendus...
                    </p>
                    <p class='comments-likes'>
                        <small>Comments:x, Likes:y </small>
                    </p>
                </div>
            </div>
        <% end %>
    <% end %>
  
    
    <%= link_to user_posts_path(@user['id']) do %>
        <div>
            <button class='see-all-posts'> See all posts</button>
        </div>
    <% end %>
</section>
